* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*Estilo general del cuerpo*/
body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Contenedor principal*/
div {
    background-color: white;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
}

/*Título h2*/
h2 {
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/*Etiquetas*/
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}

/*Campos de entrada*/
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*Boton*/
button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/*Resultado*/
#resultado {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}